html {
/*modify the root font-size*/
    font-size: 10px;
}

.container {

    background-color: aqua;
    display: flex;
    height: 100vh;
}

.navbar {
    background-color: brown;
    padding: 20px;

}

.content {

    background-color: yellow;
    padding: 10px;
    flex-grow: 1;
}

.header {

    border: 2px solid blue;
    margin-bottom: 5px;
}

.header div ul li {

    display: inline-block;
    font-size: 10px;
    padding: 10px
}

.about {

    border: 2px solid black;
    margin-bottom: 5px;
}

.projects {

    border: 2px solid green;
    background-color: orchid;
    padding: 10px;
    margin-bottom: 5px;
}

.card {

    border: 2px sold black;
    background-color: blue;
    margin-bottom: 1px;
    margin: 5px;
}

.cards-container {

    display:flex;
    background-color: orangered ;
    flex-wrap: wrap;
    
}

@media screen and (max-width: 768px) {
    .container {

    flex-direction: column;
    }

}

@media screen and (max-width: 400px) {
    .container {

        flex-direction: column;
    }

}