html {
  /*modify the root font-size*/
  font-size: 10px;
}

.container {
  /*background-color: aqua;*/
  display: flex;
  height: 100%;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 22px;
}

.navbar {
  background-color: brown;
  padding: 20px;
}

.content {
  /*background-color: yellow;*/
  padding: 10px;
  flex-grow: 1;
}

.header {
  background-image: linear-gradient(to right top, #4f658f, #374c86, #04304f);
  color: papayawhip;
  padding: 20px;
  font-size: large;
  margin-bottom: 5px;
}

.header h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  font-weight: 900;
}

.container .content .header h1 {
  text-align: center;
}

.my-photo {
  border: 2px solid black;
  border-radius: 100px;
  align-items: right;
}

.nav-icon ul {
  list-style-type: none;
  font-size: 20px;
}

.nav-icon ul li {
  align-items: center;
  margin: 50px 0px;
}

.nav-icon ul li a {
  color: darkgrey;
  font-family: monospace;
  text-decoration: none;
}

.nav-icon ul li a:hover {
  font-weight: bolder;
  color: whitesmoke;
}

.about-me {
  display: block;
}

.about {
  margin-bottom: 5px;
  font-size: 14px;
}

.contact ul li {
  display: inline-block;
  background-color: lightblue;
  padding: 10px;
  border-radius: 100px;
}

.contact ul {
  justify-content: center;
  display: flex;
  cursor: pointer;
}

.contact ul li a {
  font-size: 20px;
  margin: 0px, 60px;
}

.contact ul li:hover {
  background-color: royalblue;
  font-size: 15px;
}

.projects {
  /*border: 2px solid green;*/
  /*background-color: orchid;*/
  padding: 10px;
  margin-bottom: 5px;
}

.card {
  border: 2px sold black;
  background-color: blue;
  margin-bottom: 1px;
  margin: 5px;
  padding: 10px;
  color: aliceblue;
}

.cards-container {
  display: flex;
  /*background-color: orangered;*/
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  .container {
    flex-direction: column;
  }
}
